POSTGRES_PRISMA_URL="postgresql://user:password@host/tickle_db"
POSTGRES_URL_NON_POOLING="postgresql://user:password@host/tickle_db"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_ID=""
GITHUB_SECRET=""
